<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//PL">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table
        style='
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        border: 0;
      '
        cellpadding='0'
        cellspacing='0'
>
    <tbody>
    <tr>
        <!-- Your text -->
        <b style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; font-size: 20px'>Drogi Użytkowniku!</b><br />
        <br />
        <span style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;'>
           Zgodnie z twoją prośbą zresetowaliśmy Ci hasło.
          </span><br/>
        <br />
        <b style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; font-size: 20px'>Szczegóły:</b><br />
        <br />
        <span style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;'>
            Email: {{user.getEmail() ?? ""}}
          </span><br />
        <span style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;'>
            Nowe hasło: {{password ?? ""}}
          </span><br />
        <br />
        <a href="https://testbestcshr.beupsoft.pl/view/" style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c;font-size: 17px;color: #e94e1b;text-decoration: underline;font-weight: normal;font-style: normal;"> BeUpHr </a>
        <br />
        <br />
        <b style='font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;font-size: 15px;'>
            Informujemy, że niniejsze powiadomienie zostało wygenerowane automatycznie, prosimy nie odpowiadać na tę wiadomość.</b><br />
        <br />
        <br />
        <br />
    </tr>
    </tbody>
</table>
</body>
</html>